/* Colors */
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succsess: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-everlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --background-white: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* Others */

  --indent: 24px;
  --cards: 3;
  --cardshadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Body */
body {
  margin: 0;
  background-color: var(--background-white);
  color: var(--text);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}
/* container */
.container {
  min-width: 320px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* Reset Start */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
textarea {
  outline: none;
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.section {
  overflow: hidden;
  /* margin-right: auto;
  margin-left: auto; */
}
/* reset end */

/* logo */
.logo {
  margin-right: 76px;
  color: var(--primary-brand);
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway';
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-dark {
  color: var(--dark);
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway';
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-light {
  color: var(--light);
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway';
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* Navigation */
.nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--dark);
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Current color */
.link.current {
  color: var(--pressed-state);
}

.link:hover,
.link:focus {
  color: var(--primary-brand);

  transition: color 250ms var(--timing-function);
}

.nav-studio,
.nav-portfolio {
  position: relative;
}

.nav-portfolio:visited,
.nav-studio:visited {
  color: var(--pressed-state);
}


.nav-studio.current::after,
.nav-portfolio.current::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
}

.navigation-list {
  list-style: none;
}

.contact-resp {
  display: flex;
  margin-left: auto;
}
.contact-resp .item + .item {
  margin-left: 40px;
}

.contact-item {
  color: var(--text);
  font-weight: 400;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}

.contact-list {
  list-style: none;
}
@media screen and (max-width: 767.98px) {
  .navigation,
  .contact-resp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-resp {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1158px) {
  .contact-resp {
    flex-direction: row;
    align-items: start;
  }
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (min-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

/* Contacs */

/* .hero-container {
  max-width: 1440px;
  margin: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--dark);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
.hero-section {
  height: 432px;
  max-width: 428px;
  margin: 0 auto;
  padding: 112px 0;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hw7background/bg_mob@1x.webp);
  text-align: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hw7background/bg_mob@2x.webp);
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hw7background/bg_tablet@1x.webp);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hw7background/bg_tablet@2x.webp);
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hw7background/bg_desktop@1x.webp);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hw7background/bg_desktop@2x.webp);
    }
  }
}

/* .hero-title {
  width: 494px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  color: var(--background-white);
  font-size: 36px;
  line-height: calc(60 / 56);
  text-align: center;
} */
.hero-title {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 72px;
  max-width: 320px;
  color: var(--background-white);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 320px;
}



@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 40px;
    max-width: 496px;
    line-height: 1.07;
    font-size: 56px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
    max-width: 496px;
  }
}

/* Button */

.primary-btn {
  padding: 16px 32px;
  background-color: var(--primary-brand);
  color: var(--background-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.primary-btn {
  display: inline-block;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border: transparent;
  border-radius: 4px;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--pressed-state);
}

/* Our team */
.team-container {
  display: inline-block;
}
.section-title {
  margin-bottom: 72px;
  color: var(--dark);
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list .team-card + .team-card {
  margin-top: 72px;
}
/* .card-list {
  display: flex;
  gap: 24px;
  align-items: center;
} */
.team-name {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
}
.section-team {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light);
}
.team-position {
  margin: 0;
  margin-top: 8px;
  color: var(--text-color);
  line-height: 1.5;

  text-align: center;
}
.card-description {
  /* padding: 32px 16px; */
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.section-card {
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-white);
  box-shadow: var(--cardshadow);
}
/* ICONS-socials*/
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  fill: var(--background-white);
  transition: background-color 250ms var(--timing-function);
}
.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.socials-icon {
  fill: var(--background-white);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-state);
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .team-container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-list .team-card + .team-card {
    margin-top: 0;
  }
}

@media screen and (min-width: 1157.98px) {
  .section-team {
    padding: 120px 0px;
  }

  .team-container {
    display: block;
  }
  .team-list {
    flex-wrap: nowrap;
    margin: 0;
    row-gap: 0;
    column-gap: 0;
  }

  .team-list .team-card + .team-card {
    margin-left: 24px;
  }
}

/* Footer */
.logo-web {
  color: var(--primary-brand);
  font-size: 18px;
  font-family: 'Raleway';
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark);
  color: var(--accent);
}

.flex-footer {
  
  align-items: center;
  flex-direction: column;
}


.footer-logo-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  color: var(--light);
  font-size: 18px;
  font-family: 'Raleway';
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-descr {
  display: block;
  width: 264px;
  margin: 0;
  padding: 0;
  color: var(--accent);
  line-height: 1.5;
}
.social-media {
  margin-top: 72px;
}

.social-descr {
  text-align: center;
  margin: 0;
  color: var(--light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.social-list-footer {
  display: flex;
  margin-top: 16px;
  gap: 16px;
  justify-content: center;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-white);
  transition: background-color 250ms var(--timing-function);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--succsess);
}
/**
  |============================
  | FOOTER-FORM
  |============================
  */
.footer-form {
  margin-top: 72px;
}
.footer-form-label {
  
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 8px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--dark);
  color: rgba(255, 255, 255, 0.6);
  outline: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: background-color 250ms var(--timing-function);
}
.subscribe-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-subscribe {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 8px 24px;

  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand);
  color: var(--background-white);

  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--pressed-state);
}
.svg-letter {
  margin-left: 16px;
  fill: var(--background-white);
}
@media screen and (min-width: 768px) {
  .subscribe-input {
    min-width: 264px;
  }
}

.subscribe footer-label {
  display: flex;
  gap: 24px;

}


.subscribe-title {
  text-align: center;
}


@media screen and (min-width: 768px) {
  .flex-footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 92px;
    display: flex;
    /* max-width: 550px; */
  }

  .social-media {
    margin: 0;
    margin-left: 24px;
    margin-bottom: 30px;
  }

  
.subscribe-title {
  text-align: start;
}

  .social-descr {
    text-align: start;
  }

  .footer-logo-descr {
    align-items: baseline;
  }

  .footer-form {
    display: flex;
    justify-content: center;
    /* margin-left: auto; */
  }

  .footer-form-label {
    align-items: baseline;
  }

  .subscribe-input {
    min-width: 264px;
  }

  .footer-btn {
    margin-left: 24px;
    flex-direction: column;
    justify-content: flex-end;
  }

  .btn-subscribe {
    margin-top: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .flex-footer {
    padding: 0;
  }

  .social-media {
    margin-left: 120px;
    margin-bottom: 0;
  }

  .footer-form {
    margin: 0;
    margin-left: auto;
  }
}


/* Portfolio */

/* Filter */

.secondary-btn {
  padding: 12px 24px;
  background-color: var(--light);
  color: var(--primary-brand);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--pressed-state);
  color: var(--background-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(46, 47, 66, 0.8);
}
.secondary-btn {
  border: 2px solid transparent;
  border-radius: 5px;
}

.section-filter {
  list-style: none;
}

.section-title-portfolio {
  margin-bottom: 8px;
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
}
.section-text-porfolio {
  color: var(--text);
}

/* FLEX */
.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent);
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/**
  |============================
  | FEATURES
  |============================
*/
.undertitle {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
}

.icon-container {
  display: none;
}

.undertitle {
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.feature-desc {
  margin: 0;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.5;
}

.feature-list .feature-item + .feature-item {
  margin-top: 72px;
}

@media screen and (min-width: 767.98px) and (max-width: 1157px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-left: -24px;
    padding: 0;
    
  }

 .feature-list .feature-item + .feature-item {
    margin-top: 0px;
  }


  .undertitle {
    text-align: start;
  }

  .feature-list .feature-item {
    width: 356px;
  }

  .feature-list .feature-item:nth-child(1) {
    margin-bottom: 72px;
  }

 
  .feature-list > .feature-item {
    flex-basis: calc(100% / 2 - 24px);
    margin-left: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .undertitle {
    margin-bottom: 8px;
    font-size: 20px;
  }

   .feature-list .feature-item + .feature-item {
    margin-top: 0px;
  }

  .feature-list {
    flex-wrap: nowrap;
  }

  .section-list {
    display: flex;
    gap: 24px;
  }

  .section-list > .item {
    flex-basis: calc(100% / 4);
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--light);
  }
}
/**
  |============================
  | WHAT ARE WE DOING
  |============================
*/

.work-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.section-work {
  padding-bottom: 120px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.section-about {
  display: none;
}

@media screen and (min-width: 1158.98px) {
  .section-about {
    display: block;
    padding-top: 0;
  }

  .about-title {
    margin: 0;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
  }

  .about-list {
    display: flex;
  }

  .about-list .item {
    display: inline-block;
  }

  .about-list .item + .item {
    margin-left: 24px;
  }
}

/* Portfolio */

.section-filter {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.img-text {
  padding-top: 32px;
  padding-right: auto;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.section-buttons {
  padding-top: 120px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 24px;
  margin-left: -24px;
  padding: 0;
}
.filter-list > .filter-item {
  flex-basis: calc(100% / 3 - 24px);
  margin-top: 48px;
  margin-left: 24px;
  /* box-shadow: var(--cardshadow); */
  /* border: 1px solid var(--accent);
  border-top: none; */
}

.filter-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);
}

.filter-link:hover,
.filter-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.8), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.8);
}

.filter-thumb {
  position: relative;
  overflow: hidden;
}

.filter-thumb::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: var(--primary-brand);
  opacity: 0;
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);

  transform: translateY(300px);
}

.thumb-text {
  position: absolute;
  top: 40px;
  right: 32px;
  left: 32px;
  margin: 0;
  padding: 0;
  color: var(--light);
  font-size: 16px;
  line-height: calc(24 / 16);
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
  transform: 250ms var(--timing-function);
  transform: translateY(300px);
}

.filter-link:hover .filter-thumb::before,
.filter-link:hover .thumb-text,
.filter-link:focus .filter-thumb::before,
.filter-link:focus .thumb-text {
  opacity: 1;
  transform: translateY(0);
}

/**
  |============================
  | CUSTOMERS
  |============================
*/
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
  color: var(--dark);
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
}

.clients.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  color: var(--subtle-text);
  transition: color 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--pressed-state);
  color: var(--pressed-state);
}

.icon-clients {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .customers-list {
    margin-right: 92px;
    margin-left: 92px;
  }
}
@media screen and (min-width: 1158px) {
  .customers-list {
    gap: 0;
    margin: 0;
  }

  .customers-list .client-item + .client-item {
    margin-left: 24px;
  }
}

/* subcribe */
/* .subscribe-title {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  line-height: calc(24 / 16);
} */

/* .form-subscribe {
  display: flex;
  gap: 24px;
}
.subscribe {
  margin-left: auto;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--dark);
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.btn-subscribe {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.svg-letter {
  fill: #ffffff;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--pressed-state);
} */

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 72px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  border-radius: 4px;

  background-color: #fcfcfd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms var(--timing-function);
  transform: translate(-50%, -50%) scale(1);
}
/**
  |============================
  | CLOSE-BTN
  |============================
*/
.close-btn-thumb {
  display: flex;
  justify-content: end;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.close-btn:hover,
.close-btn:focus {
  box-sizing: border-box;
  background-color: var(--pressed-state);
  fill: white;
}

/**
  |============================
  | FORM
  |============================
*/

.form {
  width: 360px;
}
.form-modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  /* margin-top: 24px; */
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.form-label {
  margin-top: 8px;
  margin-bottom: 4px;
}

.form-label-name {
  margin-top: 0;
}

.form-label {
  color: var(--subtle-text);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.form-input {
  height: 40px;
  margin: 0;
  padding: 0;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.logo-form {
  position: absolute;
  top: 37px;
  left: 16px;
}

.logo-form-person {
  position: absolute;
  top: 31px;
}

.form-input:focus {
  border-color: var(--primary-brand);
}

.form-input:focus + .logo-form {
  fill: var(--primary-brand);
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.input-comment {
  width: 360px;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 16px;
}

.input-comment:focus {
  border-color: var(--primary-brand);
}

.form-agreement {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-size: 12px;
  margin-bottom: 24px;

  letter-spacing: 0.04em;
  color: #757575;
  user-select: none;
}

.form-policy-link {
  text-decoration-line: underline;
  color: #4d5ae5;
}

.form-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;

  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 10px 8px; */

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked {
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
}

.btn-send {
  display: block;
  width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  border-color: var(--primary-brand);
  border-radius: 4px;
  background-color: var(--primary-brand);

  color: #ffffff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.btn-send:hover,
.btn-send:focus {
  background-color: var(--pressed-state);
}

@media screen and (max-width: 392px) {
  .modal,
  .comment,
  .form {
    width: 100%;
  }
}

/* MOBILE */
.menu-toggle {
  display: flex;
  top: 24px;
  right: 16px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  padding: 40px;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: #e7e9fc;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.mobile-menu {
  margin-top: 40px;
}

.mobile-menu .link-burger {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  text-decoration: none;


  transition: color 250ms var(--timing-function);
}

.mobile-menu .link-burger:hover,
.mobile-menu .link-burger:focus {
  color: var(--pressed-state);
}
.mobile-menu-cont .link-burger:hover,
.mobile-menu-cont .link-burger:focus {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--primary-brand);
}

.mobile-menu-cont .link-burger:active {
  color: #404BBF ;
}






.mobile-menu .item + .item {
  margin-top: 40px;
}

.mobile-menu-cont {
  margin-bottom: 48px;
  margin-top: auto;
}

.mobile-menu-link {
  display: flex;
}

.mobile-menu-link > .item + .item {
  margin-left: 25px;
  scroll-margin-left: 25px;
}

@media screen and (min-width: 428px) {
  .mobile-menu-link > .item + .item {
    margin-left: 56px;
  }
}

.mobile-menu-cont .link-burger {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.mobile-menu-cont .link-burger:hover,
.mobile-menu-cont .link-burger:focus {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--primary-brand);
  transition: var(--timing-function);
}

.mobile-menu-cont > .item + .item {
  margin-top: 40px;
}

.social-mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  fill: #ffffff;

  transition: background-color 250ms var(--timing-function);
}

.social-mobile-menu:hover,
.social-mobile-menu:focus {
  background-color: var(--pressed-state);
}